* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #f5f5f5;
}

#logo-container {
    margin-left: 20px;
}

#box {
    position: relative;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    left: 160px;
}

 
.row .col.s2 {
    margin-top: 20px;
    padding-top: 12px;
    margin-left: 20px;
    height: 50px;
    width: 225px;
    border: 1px solid grey;
} 

[type="checkbox"]+span:not(.lever) {
    line-height: 18px;
}



span {
    color: black;
    
}

.generate-recipe {
    background-color: #26a69a;
    left:0px;
    width: 124.453px;
    display: flex;
    margin: auto;
}

