* {
    margin: 0;
    padding: 0;

}
#box {
    position: relative;

}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    left: 160px;
}

.container {
    width: 100%;
}

.label {
    margin-top: 5px;
    padding: 10px;
    height: 40px;
    width: 250px;
    border: 1px solid grey;
}


